.Signup-form {
  display: flex;
  padding: 30px;
  background-color: #2657b1b8;
  flex-direction: column;
  justify-content: space-between;
  justify-items: right;
  height: 350px;
  width: 300px;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 3px solid #eeeeee;
  font-weight: 500;
  color: #eeeeee;
}
.signin-container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

label {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
}
.Signin-form {
  display: flex;
  padding: 30px;
  background-color: #2657b1b8;
  flex-direction: column;
  justify-content: space-between;
  justify-items: right;
  height: 350px;
  width: 300px;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 3px solid #eeeeee;
  font-weight: 500;
  color: #eeeeee;
}
.title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
}

.submit {
  align-self: center;
  width: 80px;
  font-size: 18px;
  background-color: eeeeee;
  color: black;
  border: 2px solid #1f4690;
  width: auto;
}

.submit:hover {
  background-color: #008cba;
  color: white;
  width: auto;
}
